<component name="ArtifactManager">
  <artifact type="exploded-war" name="myBatis:Web exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/myBatis_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="myBatis/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="myBatis" />
        </element>
      </element>
    </root>
  </artifact>
</component>