<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.qy.model.Category">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="c_name" jdbcType="VARCHAR" property="c_name" />
    <result column="c_descripe" jdbcType="VARCHAR" property="c_descripe" />
    <result column="c_state" jdbcType="INTEGER" property="c_state" />
    <result column="c_add_time" jdbcType="VARCHAR" property="c_add_time" />
  </resultMap>
  <select id="findAllCategory" resultType="com.qy.model.Category">
    SELECT *FROM category
  </select>
</mapper>