<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.dao.EvaluateMapper">
  <resultMap id="BaseResultMap" type="com.qy.model.Evaluate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="VARCHAR" property="goods_id" />
    <result column="member_id" jdbcType="VARCHAR" property="member_id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="add_time" jdbcType="VARCHAR" property="add_time" />
  </resultMap>
</mapper>