<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.qy.model.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="head_img" jdbcType="VARCHAR" property="head_img" />
  </resultMap>
</mapper>